.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  /* Ensure it does not exceed the screen width */
}
 
  .navbar-logo img {
    height: 50px;
    width: auto;
    max-width: 150px;
    cursor: pointer;
  }
  
 
  .navbar-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  
 
  

